<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My Website - About</title>
</head>
<body>
  <h1>Romario Grant</h1>
  <p>
    My name is Romario Grant. I am a 22 years old Computer Science student with a goal of becoming a software engineer. Outside of school, I am really into photography and music. Right now, my favorite artist is Sishii. This summer I am hoping to attend a FIFA World Cup match and, if everything works out, go skydiving for the first time.
  </p>
</body>
</html>